.day-event {
    width: 90%;
    font-size: 11px;
    color: $text-white;
    background-color: $blue;
    // box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}