.day-event {
    width: 90%;
    font-size: 11px;
    color: $text-white;
    background-color: $blue;
    border-radius: 3px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}