//background colors:

$grey: #808080; //no needed
$lightGrey: #ececec; //no needed
$white: #fff;
$darkGrey: #3c4043; //instead black
$blue: #1a73e8; //hovered items
$classicGrey: #d5d5d5; //borders
$red:#ea4335; //red line

//text colors:

$text-grey: #70757a;
$text-darkGrey: #3c4043;
$text-white: #fff;